body{
	margin:0;
	background: #fff;
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 100;
}
a{
	color:#cc2727;
	text-decoration: none;
}
a:hover{
	color:#ee4949;
}
a.homelink{
	color:inherit;
}
a.homelink:hover{
	color:inherit;
}

/** HEADER **/
#header{
	width:100%;
	height:300px;
	overflow: hidden;
	position: relative;
}
#banner{
	width:100%;
	height:200px;
	background:#000;
	position: fixed;
	overflow: hidden;
	top:30px;
}
#banner > div{
	background:#fff;
	width:75px;
	height:100%;
	position: absolute;
	margin:auto;
	top:0;bottom:0;left:0;right:0;
	border-left-width: 10px;
	border-right-width: 10px;
	border-color: #fff;
	border-style: solid;
}
#banner > div > div{
	position: absolute;
	width: 0;
	height: 0;
}
#banner > div > div:nth-child(1){
	top:-3px; /*hacky fix*/
	border-left: 75px solid transparent;
	border-right: 0px solid transparent;
	border-top: 170px solid #000;
}
#banner > div > div:nth-child(2){
	bottom:0;
	border-left: 0px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 170px solid #000;
}
#navigation{
	position: absolute;
	top:220px;
	width:100%;
	height:80px;
	text-align: center;
	line-height: 80px;
	background: #fff;
	font-size: 28px;
	letter-spacing: 3px;
	z-index: 1;
}
#navigation a.navlink{
	color:#aaa;
	text-decoration: none;

	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;

}
#navigation a.navlink:hover{
	color:#000;
}


/** CONTENT **/
#content{
	width:800px;
	margin:0 auto;
}
#content > a > div{
	width: 390px;
	height:150px;
	margin-bottom:20px;
	float: left;

	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;

}
#content > a > div:nth-child(odd){
	margin-right: 10px;
}
#content > a:first-child > div{
	margin-top:20px;
}
#content > a{
	text-decoration: none;
}
#content > a:hover > div{
	opacity: 0.7;
}
#content > a > div > img{
	width: 388px;
	border: 1px solid #eee;
	margin-bottom: 5px; 
}
#content > a > div > div{

	color:#000;
	font-size: 18px;
	line-height: 21px;
	text-align: left;

	width:100%; height:50px;

}
#content > a > div > div > span{
	color:#aaa;
}
#content > .section{
	clear:both;
	text-align: center;
	letter-spacing: 10px;
	margin-top: 35px;
	margin-bottom: 25px;
}


/** FOOTER **/
#footer{
	width:100%;
	height:260px;
	overflow: hidden;
	position: relative;
	visibility: hidden;
}
#footer_banner{
	width:100%;
	height:200px;
	background:#000;
	position: fixed;
	overflow: hidden;
	bottom:30px;
}
#footer_banner > div{
	position: absolute;
	width:100%; padding:50px 0;
	text-align: center;
	color:#fff;
	letter-spacing: 5px;
	line-height: 42px;
	font-size: 20px;
}
