html,body{
	width:100%; height:100%;
	margin:0;
	background: #fff;
	color: #333;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 23px;
	font-weight: 100;
	line-height: 1.4em;
}

#header, #content, #footer{
	width: 100%;
	max-width: 800px;
	margin:0 auto;
}
strong, b{
	font-weight: bold;
}
a{
	color: #ff4040;
	position: relative;
	top:0px;
	transition: 0.1s ease-in-out;
}
a:hover{
	color: #ff8080;
	top: -2px;
}
h1{
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	letter-spacing: 3px;
	margin-top:1.5em;
	margin-bottom: 0;
}
h2{
	margin-top:1.25em;
	margin-bottom: 0;
}
#header{
	margin-top: 15px;
	height: 182px;
	text-align: right;
	font-size: 30px;
	max-width: 870px;
	position: relative;
	width: calc(100% - 50px);
}
#header #nicky{
	width: 250px;
	height: 220px;
	background: url(nicky.png);
	background-size: 100% 100%;
	position: relative;
	left: -68px;
}
#header #nav{
	position: absolute;
	right: 10px;
	bottom: 20px;
}
#header a{
	color: #000;
	transition: 0.15s ease-in-out;
	text-decoration: none;
}
#header a:hover{
	color: #888;
	top: -3px;
}
#content{
	padding: 15px 20px 20px 20px;
	width: calc(100% - 50px);
	text-align: center;
	border: 5px solid #333;
	border-radius: 25px;
	margin-bottom: 50px;
}
#footer{
	max-width: 550px;
	text-align: center;
	padding-bottom:80px;
}
.grid{
	overflow:hidden;
	/*margin-bottom: -0.5em;*/
	margin-top: 5px;
}
.grid > a:first-child > div{
	margin-top:20px;
}
.grid > a > div{

	display: inline-block;
    overflow: hidden;
	width: 390px;
	height:150px;
	margin-bottom:10px;

	transition: opacity 0.1s ease-in-out;

}
.grid > a{
	text-decoration: none;
	display: inline-block;
}
.grid > a:hover > div{
	opacity: 0.5;
}
.grid > a > div > img{
	width: 388px;
	border: 1px solid #eee;
	margin-bottom: 5px;
}
.grid > a > div > div{
	color:#000;
	font-size: 18px;
	line-height: 21px;
	text-align: left;
	width:100%;
}
.grid > a > div > div > span{
	color:#999;
}

.web10{
	position: absolute;
	width:70px;
	height:70px;
	background: url(web10.png);
	background-size: 200% 100%;
	top: -17px;
}
.web10#news{
	left: calc(50% - 362px);
}
.web10#rss{
	right: calc(50% - 362px);
	background-position: -100%;
}

#waiver{
	padding-top:11px;
	color:#999;
	font-size:0.8em;
	width: calc(100% - 10px);
	margin:0 auto;
}

.sidepage{
	width:calc(100%-40px);
	max-width:787px;
	padding: 25px;
	margin:50px auto;
	line-height: 1.7em;
}
.sidepage h1{
	text-align: left;
}
.sidepage input{
	font-family: monospace;
	font-weight: 100;
	background: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	padding: 4px;
	position: relative;
	top: -2px;
}
.sidepage img{
	margin:0 auto;
	display: block;
	max-width: 100%;
}

hr{
	border:none;
	border-bottom: 3px dashed #ddd;
	margin: 2em 0;
}

@media (max-width: 760px){
	.web10{
		display:none;
	}
}
@media (max-width: 880px){
	#header #nav{
		width: 300px;
		text-align: right;
		top: 24px;
	}
	#header #nav span{
		opacity: 0;
		display: block;
		height: 0px;
	}
}
